html,
body {
  height: 100%;
}

#root {
  background-color: #20232a;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.Header {
  display: flex;
  align-items: center;
}

.logo img {
  height: 4em;
}

.siteName {
  font-size: 1.5em;
  margin: 0;
  color: #fff;
}

.siteName span {
  font-weight: 400;
}
