.loading {
  font-size: 1.5em;
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.Chat {
  background-image: url("../chat-background.jpg");
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.ChatHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ececec;
  padding: 1em;
  font-weight: 300;
}

.chatName {
  font-weight: 600;
}

.MessageList {
  overflow-y: scroll;
  height: 500px;
  display: flex;
  flex-flow: column;
}

.MessageList .separator {
  background-color: rgba(109, 109, 109, 0.5);
  color: #fff;
  font-weight: 400;
  font-size: 0.8em;
  padding: 0.3em 0.7em;
  border-radius: 100px;
  margin: 1em auto;
}

.messageWrapper {
  display: flex;
  align-items: center;
}

.Message {
  display: flex;
  padding: 0.4em 0.6em;
  background-color: white;
  width: fit-content;
  border-radius: 15px;
  margin: 0.2em;
  max-width: 75%;
  align-items: flex-start;
}

.Message.private {
  align-self: flex-end;
}

.Message .userName {
  margin: 0;
  font-size: 1em;
  text-align: left;
  margin-top: 0.05em;
}

.Message .messageText {
  margin: 0;
  text-align: left;
}

.Message .avatar {
  display: flex;
  flex-shrink: 0;
  border-radius: 1000px;
  overflow: hidden;
  margin: 0.2em 0.5em 0 0;
}

.Message .avatar img {
  height: 3em;
}

.Message .like {
  align-self: center;
}

.Message .messageInfo {
  font-size: 0.8em;
  font-weight: 300;
  text-align: left;
  margin-top: 0.25em;
  display: flex;
}

.Message .messageInfo .messageDate {
  margin-right: 1em;
}

.Message .messageInfo .messageEdit {
  cursor: pointer;
  margin-right: 0.5em;
}

.Message .messageInfo .messageDelete {
  cursor: pointer;
}

.Message .messageInfo .messageDelete:hover {
  color: red;
}

.like {
  padding: 0.2em;
}

.like-button {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.like-button .like-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: red;
  transform: scale(0);
  transition: all 0.4s;
  z-index: 0;
}
.like-button i.not-liked {
  display: block;
  color: grey;
  position: relative;
  z-index: 1;
}
.like-button i.is-liked {
  display: none;
  color: #fff;
  position: relative;
  z-index: 1;
}
.like-button.is-active .like-overlay {
  transform: scale(1);
}
.like-button.is-active i.not-liked {
  display: none;
}
.like-button.is-active i.is-liked {
  display: block;
}

.MessageInput {
  background-color: #fff;
  font-size: 1.5em;
  display: flex;
  border-top: 1px solid #aaa;
}

.MessageInput .messageInputElement {
  width: calc(100% - 3em);
  height: fit-content;
  min-height: 1em;
  font-size: 1em;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding: 0.5em;
}

.MessageInput .messageSendButton {
  background-color: #fff;
  box-shadow: none;
  border: none;
  color: #61dbfb;
  display: flex;
  justify-content: center;
  width: 3em;
  font-size: 1em;
  cursor: pointer;
}
.MessageInput .messageSendButton i {
  font-size: 30px;
}
